<div class="card m-3">
    <h5 class="card-header">Calculation</h5>
    <div class="card-body">
        <div class="container">
            <div>
                <div class="col-13">
                    <label for="buyerName">Number of rate</label>
                </div>
                <div class="col-clone-2">
                    <label for="buyerName">:</label>
                </div>
                <div class="col-35">
                    <input type="text" id="buyerName" placeholder="Insert number"  >
                    
                </div>
            </div>
            <br>
            <div mat-dialog-actions>
            <button class="btn1" mat-button >OK</button>
            
            <button class="btn" mat-button (click)="Closepopup()" >Close</button>
            </div>
        </div>
    </div>
</div>





