<div class="card m-3">
    <h1 class="card-header">Account Information</h1>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <!-- <div class="col-13">
                    <label for="userName">User Name</label>
                </div>
                <div class="col-clone-2">
                    <label for="userName">:</label>
                </div>
                <div class="col-35">
                    <input type="text" id="userName" placeholder="Enter User Name" class="form-control"
                        [(ngModel)]="userName" required>
                </div> -->
                <div class="col-13">
                    <label for="firstName">User Name</label>
                </div>
                <div class="col-clone-2">
                    <label for="firstName">:</label>
                </div>
                <div class="col-35">
                    <select [(ngModel)]="firstName" style="padding: 5px 0;" id="firstName" name="firstName">
                        <option value="">Select User Name</option>
                        <option *ngFor="let name of allUserNameList" [ngValue]="name">
                            {{ name }}
                        </option>
                    </select>
                </div>
                <div class="col-13">
                    <label for="accountNumber">Account Number</label>
                </div>
                <div class="col-clone-2">
                    <label for="accountNumber">:</label>
                </div>
                <div class="col-35">
                    <input type="text" id="accountNumber" placeholder="Enter Account No" class="form-control"
                        [(ngModel)]="accountNumber" required>
                </div>
            </div>

            <div class="row">
                <div class="col-13">
                    <label for="accountType">Account Type</label>
                </div>
                <div class="col-clone-2">
                    <label for="accountType">:</label>
                </div>
                <div class="col-35">
                    <select [(ngModel)]="accountType" style="padding: 5px 0;" id="accountType" name="accountType"
                        class="form-control">
                        <option value="">Select Account Type</option>
                        <option *ngFor="let accType of allAccTypeList" [ngValue]="accType">
                            {{ accType }}
                        </option>
                    </select>
                </div>

                <div class="col-13">
                    <label for="balance">Balance</label>
                </div>
                <div class="col-clone-2">
                    <label for="balance">:</label>
                </div>
                <div class="col-35">
                    <input type="text" id="balance" placeholder="Enter Balance" class="form-control"
                        [(ngModel)]="balance" required>
                </div>
            </div>

            <div class="row">
                <div class="col-13">
                    <label for="dateOpened">Date Opened</label>
                </div>
                <div class="col-clone-2">
                    <label for="dateOpened">:</label>
                </div>
                <div class="col-35">
                    <kendo-datepicker formControlName="dateOpened" class="form-control"
                        style="margin-top: .3rem; border-color: #ccc; " #picker [format]="fullFormat"
                        [twoDigitYearMax]="twoDigitYearMax" [min]="min" [max]="max">
                    </kendo-datepicker>
                </div>

                <div class="col-13">
                    <label for="status">Status</label>
                </div>
                <div class="col-clone-2">
                    <label for="status">:</label>
                </div>
                <div class="col-35">
                    <select [(ngModel)]="status" style="padding: 5px 0;" id="status" name="status" class="form-control">
                        <option value="">Select Status</option>
                        <option *ngFor="let Stat of AccountStatusList" [value]="Stat.Status">
                            {{ Stat.Status }}
                        </option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-13">
                    <label for="overDraftLimit">Over Draft Limit</label>
                </div>
                <div class="col-clone-2">
                    <label for="overDraftLimit">:</label>
                </div>
                <div class="col-35">
                    <input type="text" id="overDraftLimit" placeholder="Enter OverDraft Limit" class="form-control"
                        [(ngModel)]="balance" required>
                </div>

                <div class="col-13">
                    <label for="interestRate">Interest Rate</label>
                </div>
                <div class="col-clone-2">
                    <label for="interestRate">:</label>
                </div>
                <div class="col-35">
                    <input type="text" id="interestRate" placeholder="Enter Interest Rate" class="form-control"
                        [(ngModel)]="interestRate" required>
                </div>
            </div>


            <div class="row">
                <div class="col-13">
                    <label for="lastTransactionDate">Last Transaction Date</label>
                </div>
                <div class="col-clone-2">
                    <label for="lastTransactionDate">:</label>
                </div>
                <div class="col-35">
                    <input type="text" id="address" readonly placeholder="Last Transaction Date" class="form-control"
                        [(ngModel)]="lastTransactionDate" required>
                </div>

            <div class="col-13">
                <label for="branchName">Branch Name</label>
            </div>
            <div class="col-clone-2">
                <label for="branchName">:</label>
            </div>
            <div class="col-35">
                <select [(ngModel)]="branchName" style="padding: 5px 0;" id="branchName" name="branchName"
                    formControlName="branchName" class="form-control">
                    <option value="">Select Branch Name</option>
                    <option *ngFor="let branch of allBranchNameList" [ngValue]="branch">
                        {{ branch }}
                    </option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="col-13">
                <label for="comments">Comment</label>
            </div>
            <div class="col-clone-2">
                <label for="comments">:</label>
            </div>
            <div class="col-35">
                <input type="text" id="comments" placeholder="Add Comment" class="form-control"
                    [(ngModel)]="comments" required>
            </div>
        </div>


        <!-- <div class="row">
            <button class="save" (click)="saveScMlcGroupApproval()">Save</button>
        </div>  -->
    </div>
</div>
</div>