.sidenav {
    background: #fff;
    transition: all .5s ease;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo{
            background: #f6f9ff;
            color: #012970;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            padding-bottom: .2rem;
            font-size: 15px;
            font-weight: 800;
            cursor: pointer;
            border: none;  
            .image1{
                height: 35px;
                
            }
        }

        .logo-text {
            margin-left: .1rem;
            font-size: 22px;
            font-weight: 750;
            color: #012970;
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;
        

                .fa-times {
                    color: #012970;
                    font-size: 22px;
                    font-weight: 420;
                }
        }
    }
}

.sidenav-collapsed {
    width: 17rem
}
.sidenav-nav{
    list-style: none;
    padding: 0.983rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #012970;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon {
                font-size: 20px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: .2rem;
            }
            
            
        }
        .sidenav-nav-link:hover {
            background-color: #f6f9ff;
            color: #4154f1;

                .menu-collapse-icon {
                     color: #4154f1;
                }    
        }

    }   
}

.active {
    background-color: #f6f9ff;
    .menu-collapse-icon,
    .sidenav-link-icon,
    .sidenav-link-text {
        color: #4154f1;
    }
}

.active-sublevel {
    color: #4154f1 !important;
    opacity: 1 !important;
}

.menu-collapse-icon {
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    color: #4154f1;
}
.sublevel-nav {
    list-style: none;
    margin-left: 10px;

    .sublevel-nav-item {
        .sublevel-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #012970;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sublevel-link-icon {
                font-size: 15px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sublevel-link-text {
                margin-left: 0px;
            }
        }

        .sublevel-nav-link:hover {
            color: #4154f1;
        }
    }
}

.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem);
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}
.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}
.scrollwrap-delayed:hover {
    transition: visibility 0.2s 0.2s;
}
.scrollwrap::-webkit-scrollbar {
    width: 5px;
	height: 8px;
	background-color: #fff;
}
.scrollwrap::-webkit-scrollbar-track {
    background: transparent;
}
.scrollwrap::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
    border-radius: 10px;
}

.scrollwrap {
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
}

.row {
    margin: 0px;
    padding: 0px;
}