<div class="card m-3">
    <h1 class="card-header">User Information</h1>
    <div class="card-body">
        <div class="container">
            <form [formGroup]="UserInfoForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-13">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="firstName">:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="firstName" placeholder="Enter First Name" formControlName="firstName"
                            class="form-control" [(ngModel)]="userInfo.firstName" required>
                    </div>
                    <div class="col-13">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="lastName">:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="lastName" placeholder="Enter Last Name" formControlName="lastName"
                            class="form-control" [(ngModel)]="userInfo.lastName" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-13">
                        <label for="dateOfBirth">Date of Birth</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="dateOfBirth">:</label>
                    </div>
                    <div class="col-35">
                        <kendo-datepicker formControlName="dateOfBirth" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['dateOfBirth'].errors }">
                        </kendo-datepicker>
                    </div>

                    <div class="col-13">
                        <label for="gender">Gender</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="gender">:</label>
                    </div>
                    <div class="col-35">
                        <select [(ngModel)]="userInfo.city" id="city" name="city" formControlName="city"
                            class="form-control">
                            <option value="">Select Gender</option>
                            <option *ngFor="let Gen of GenderList" [value]="Gen.Gender">
                                {{ Gen.Gender }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-13">
                        <label for="email">Email</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="email">:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="email" placeholder="Enter Email" formControlName="email"
                            class="form-control" [(ngModel)]="userInfo.email" required>
                    </div>

                    <div class="col-13">
                        <label for="mobileNo">Mobile Number</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="mobileNo">:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="mobileNo" placeholder="Enter Mobile Number" formControlName="mobileNo"
                            class="form-control" [(ngModel)]="userInfo.mobileNo" required>
                    </div>
                </div>


                <div class="row">
                    <div class="col-13">
                        <label for="address">Address</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="address">:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="address" placeholder="Enter Adress" formControlName="address"
                            class="form-control" [(ngModel)]="userInfo.address" required>
                    </div>

                    <div class="col-13">
                        <label for="state">State/ Division</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="state">:</label>
                    </div>
                    <div class="col-35">
                        <select [(ngModel)]="userInfo.state" id="state" name="state" formControlName="state"
                            class="form-control">
                            <option value="">State/ Division</option>
                            <option *ngFor="let Divi of DivisionList" [value]="Divi.Division">
                                {{ Divi.Division }}
                            </option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-13">
                        <label for="city">City/ District</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="city">:</label>
                    </div>
                    <div class="col-35">
                        <select [(ngModel)]="userInfo.city" id="city" name="city" formControlName="city"
                            class="form-control">
                            <option value="">Select City/ District</option>
                            <option *ngFor="let City of CityList" [value]="City.Cities">
                                {{ City.Cities }}
                            </option>
                        </select>
                    </div>

                    <div class="col-13">
                        <label for="country">Country</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="country">:</label>
                    </div>
                    <div class="col-35">
                        <select [(ngModel)]="userInfo.country" id="country" name="country" formControlName="country"
                            class="form-control">
                            <option value="">Select Country</option>
                            <option *ngFor="let Count of CountryList" [value]="Count.Country">
                                {{ Count.Country }}
                            </option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-13">
                        <label for="postalCode">Postal Code</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="postalCode">:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="postalCode" placeholder="Enter Postal Code" formControlName="postalCode"
                            class="form-control" [(ngModel)]="userInfo.postalCode" required>
                    </div>

                    <div class="col-13">
                        <label for="registrationDate">Registration Date</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="registrationDate">:</label>
                    </div>
                    <div class="col-35">
                        <kendo-datepicker formControlName="registrationDate" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['registrationDate'].errors }">
                        </kendo-datepicker>
                    </div>
                </div>

                <div class="row">
                    <div class="col-13">
                        <label for="userRole">User Role</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="userRole">:</label>
                    </div>
                    <div class="col-35">
                        <select [(ngModel)]="userInfo.userRole" id="userRole" name="userRole" formControlName="userRole"
                            class="form-control">
                            <option value="">Select User Role</option>
                            <option *ngFor="let Role of UserRoleList" [value]="Role.UserRole">
                                {{ Role.UserRole }}
                            </option>
                        </select>
                    </div>

                    <div class="col-13">
                        <label for="status">Status</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="status">:</label>
                    </div>
                    <div class="col-35">
                        <select [(ngModel)]="userInfo.status" id="status" name="status" formControlName="status"
                            class="form-control">
                            <option value="">Select Status</option>
                            <option *ngFor="let State of StatusList" [value]="State.Status">
                                {{ State.Status }}
                            </option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-13">
                        <label for="comments">Comments</label>
                    </div>
                    <div class="col-clone-2">
                        <label for="comments">:</label>
                    </div>
                    <div class="col-35">
                        <input type="text" id="comments" placeholder="Enter Comment" formControlName="comments"
                            class="form-control" [(ngModel)]="userInfo.comments" required>
                    </div>
                </div>

                <div class="row">
                    <br>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <h5 class="card-header">List of Users</h5>
    <br>
    <div class="row">
        <div class="col-12">
            <label class="total-rows-label">Total User: {{ rowCount }}</label>
        </div>
    </div>
    <br>
    <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource" class="crm-mat-table">
            <!-- <ng-container matColumnDef="view">
                <th class="border mat-header-row "  mat-header-cell *matHeaderCellDef>View</th>
                <td class="border"  mat-cell *matCellDef="let userInfoList">
                  <button  class="adddesign" (click)="clickView(userInfoList)"> View</button>
              </td>
            </ng-container> -->
            <ng-container matColumnDef="name">
                <th class="border mat-header-row" mat-header-cell *matHeaderCellDef> Name </th>
                <td class="border" mat-cell *matCellDef="let userInfoList"> {{userInfoList.name}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th class="border mat-header-row" mat-header-cell *matHeaderCellDef> Address </th>
                <td class="border" mat-cell *matCellDef="let userInfoList"> {{userInfoList.address}} </td>
            </ng-container>
            <ng-container matColumnDef="mobileNo">
                <th class="border mat-header-row" mat-header-cell *matHeaderCellDef> Mobile No. </th>
                <td class="border" mat-cell *matCellDef="let userInfoList"> {{userInfoList.mobileNo}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th class="border mat-header-row" mat-header-cell *matHeaderCellDef> Email </th>
                <td class="border" mat-cell *matCellDef="let userInfoList"> {{userInfoList.email}} </td>
            </ng-container>
            <ng-container matColumnDef="dateOfBirth">
                <th class="border mat-header-row" mat-header-cell *matHeaderCellDef> Date of Birth </th>
                <td class="border" mat-cell *matCellDef="let userInfoList"> {{userInfoList.dateOfBirth |
                    date:'dd-MM-yyyy'}} </td>
            </ng-container>
            <ng-container matColumnDef="bloodGroup">
                <th class="border mat-header-row" mat-header-cell *matHeaderCellDef> Blood Group </th>
                <td class="border" mat-cell *matCellDef="let userInfoList"> {{userInfoList.bloodGroup}} </td>
            </ng-container>
            <ng-container matColumnDef="religion">
                <th class="border mat-header-row" mat-header-cell *matHeaderCellDef> Religion </th>
                <td class="border" mat-cell *matCellDef="let userInfoList"> {{userInfoList.religion}} </td>
            </ng-container>
            <ng-container matColumnDef="maritalStatus">
                <th class="border mat-header-row" mat-header-cell *matHeaderCellDef> Marital Status </th>
                <td class="border" mat-cell *matCellDef="let userInfoList"> {{userInfoList.maritalStatus}} </td>
            </ng-container>
            <tr class="color" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </section>
</div>